<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Welcome to About render_template</h1>
      <h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias,
        accusamus ut? Illum alias totam officiis expedita, quo culpa, possimus
        quibusdam nemo voluptatibus sapiente quidem unde doloribus numquam
        similique. Dolorum, eius?
      </h3>

      <hr />
    </div>
  </body>
</html>
